<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مگنت
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در تمرین آخر فصل «آماده‌سازی داده» قصد داریم پس از انجام چندین گام پیش‌پردازش، داده‌های آگهی‌های شغلی کوئرا را تحلیل کنیم.
آنچه در این تمرین تحلیل می‌کنیم مطمئناً بخش بسیار کوچکی از حقایق پنهان در دل داده‌هاست. پس پیشنهاد می‌کنیم علاوه بر آنچه این تمرین از شما می‌خواهد، خود نیز سعی کنید حقایق دیگری از داده‌ها استخراج کنید.
این دیتاست شامل آگهی‌های شغلی است که در کوئرا ثبت شده‌اند. برای حفظ حریم شخصی شرکت‌ها، شناسه شرکت‌های ثبت‌کننده آگهی از داده حذف شده است. هر سطر از این دیتاست اطلاعات یک آگهی‌ شغلی است که شرکتی قصد جذب نیرو متناسب با آن را داشته است.
</font>
</p>

In [222]:
import numpy as np
import pandas as pd
from pandas import to_datetime
from datetime import datetime
from datetime import time

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    مجموعه داده این سوال دارای ۸ ستون است که در جدول زیر به شرح ستون‌های آن پرداخته شده‌است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>

| نام ستون| توضیح ستون|
|:------------------:|:------------------:|
|Level|سطح نیرویی که شرکت قصد جذب داشته. این ستون دارای ۴ مقدار منحصر به فرد است. (Junior) S (Senior)، M (Mid level)، J و (Intern) I|
|Offers Remote|نشان می‌دهد آیا شرکت امکان دورکاری برای موقعیت شغلی را فراهم کرده‌است یا خیر.|
|Publish Time|تاریخ و ساعتی که آگهی شغلی منتشر شده است.|
|Salary|حقوقی که شرکت برای یک موقعیت شغلی خاص در نظر گرفته‌است. MT آخر هر عبارت نشان دهنده «میلیون تومان» است. و علامت‌های > و < حد بالا و حد پایین حقوق نوشته شده را نشان می‌دهد.|
|Title|عنوانی که شرکت برای یک آگهی شغلی خاص ثبت کرده است.|
|Close Time|تاریخ و ساعتی که آگهی شغلی بسته شده است.|
|State|وضعیت فعلی آگهی شغلی را نشان می‌دهد. دارای سه مقدار منحصر به فرد است. A (Archived)، C (Closed) و PB (Published)|
|Collaboration Type|وضعیت همکاری را نشان می‌دهد که آیا FT (Full Time / تمام‌وقت) است یا PT (Part Time / پاره‌وقت)|

    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    این سوال در دو بخش تدوین شده است: پیش‌پردازش و تحلیل.
    در ابتدا مراحل پیش‌پردازش را شرح خواهیم‌داد، سپس سراغ مرحله تحلیل می‌رویم.
</font>
</p>

In [223]:
df = pd.read_csv('./job_posts.csv')

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
پیش‌پردازش این سوال، شامل سه گام است که پس از اعمال آن‌ها، دادگان ما برای تحلیل آماده می‌شود.    
</font>
</p>


<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام اول پیش‌پردازش
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    سطرهایی که <b>هر ۳ ستون </b> <code>Level</code> ،<code>Salary</code> و <code>Collaboration Type</code> در آن‌ها گم‌شده‌اند (NaN هستند) را کلاً از دادگان حذف کنید. با داده‌ای که از این مرحله به‌دست می‌آورید سراغ گام دوم بروید.
</font>
</p>

In [224]:
# TO-DO: first step preprocessing
df.dropna(subset=['Salary','Level','Collaboration Type'],how='all',inplace=True)


<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام دوم پیش‌پردازش
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    مقادیر ستون <code>Salary</code> را با عددی که دارند جایگزین کنید.
    مثلا مقداری مثل >6MT را به 6 تبدیل کنید.
    یا >12MT را به 12 و ... تبدیل کنید.
    <br>
    به صورت کلی، عدد هر رشته  از ستون <code>Salary</code> را جدا کرده و جایگزین همان رشته درون دیتاست کنید.
    </font>
</p>

In [225]:
# TO-DO: second step preprocessing
def pure_salary(salary):    
    replaced_char = ['<','>','MT']
    for rep_char in replaced_char:
        salary = str(salary).replace(rep_char,'')
    
    return str(salary).strip()

In [226]:
df['Salary'] = df['Salary'].apply(pure_salary).astype('float64')


<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام سوم پیش‌پردازش
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    مقادیر گم‌شده‌ی ستون <code>Salary</code> را با میانگین حقوق‌ها <b>به تفکیک سطح</b> پر کنید. یعنی اگر <code>Salary</code> یک آگهی جونیور (<code>J</code>) گم‌شده بود، آن را با میانگین همه جونیورها پر کنید؛ اگر <code>Salary</code> یک آگهی سینیور (<code>S</code>) گم‌شده بود، آن را با میانگین همه سنیورها پر کنید؛ اگر <code>Salary</code> یک آگهی میدلول (<code>M</code>) گمشده بود، آن را با میانگین همه میدلول‌ها پر کنید؛ اگر <code>Salary</code> یک آگهی اینترن (<code>I</code>) گمشده بود، آن را با میانگین همه اینترن‌ها پر کنید.
</font>
</p>

In [227]:
# TO-DO: third step preprocessing
j_mean = df[df.Level == 'J']['Salary'].mean()
s_mean = df[df.Level == 'S']['Salary'].mean()
m_mean = df[df.Level == 'M']['Salary'].mean()
i_mean = df[df.Level == 'I']['Salary'].mean()

df[df.Level == 'J'] = df[df.Level == 'J'].fillna({'Salary':j_mean})
df[df.Level == 'S'] = df[df.Level == 'S'].fillna({'Salary':s_mean})
df[df.Level == 'M'] = df[df.Level == 'M'].fillna({'Salary':m_mean})
df[df.Level == 'I'] = df[df.Level == 'I'].fillna({'Salary':i_mean})

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
با داده‌ای که پس از این مراحل به دست آورده‌اید به حل سوالات بعدی بپردازید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تحلیل    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    بخش تحلیل تمرین مگنت نیز از سه گام تشکیل شده‌است:
    <ul dir=rtl>
    <li>در گام اول می‌خواهیم تاثیر کرونا بر دورکاری در ایران را بسنجیم.</li>
    <li>در سوال دوم تاثیر زمان بر انتشار آگهی‌های شغلی را اندازه می‌گیریم.</li>
    <li>و نهایتاً در گام سوم میانگین دریافتی فعالان حوزه داده را به‌دست خواهیم آورد.</li>
    </ul>
</font>
</p>


<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام اول تحلیل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    نرخ آگهی‌های شغلی که پیشنهاد دورکاری دارند، چقدر نسبت به قبل از اولین مورد رسمی کرونا در ایران بیشتر شده است؟ منظور از «نرخ آگهی‌های شغلی که پیشنهاد دورکاری دارند» حاصل تقسیم آگهی‌های شغلی که پیشنهاد دورکاری دارند بر تعداد کل آگهی‌هاست (تعداد ردیف‌های دیتافریم). هدف این سوال این است که بفهمیم کرونا چقدر در دورکاری موثر بوده‌است. برای این حل سوال، نرخ آگهی‌های دورکار پیش از کرونا را از نرخ آگهی‌های دورکار پس از کرونا کم کنید (یا تعدادشان را از همدیگر کم کرده و نهایتاً بر تعداد کل آگهی‌ها تقسیم کنید).
    اولین مورد رسمی کرونا در ایران را می‌توانید از متغیر <code>start_of_corona</code> که در سلول زیر گذاشته شده است پیدا کنید.
    توجه داشته باشید اولین روزی که کرونا به ایران آمد را نیز جزو روزهای <u>پس از کرونا</u> لحاظ <b>کنید</b>.
    <br>
    جواب این سوال را درون متغیر <code>remote_growth</code> ذخیره کنید. جنس این متغیر از نوع <code>float</code> است. 
    <br>
    <b>راهنمایی:</b>
    به عنوان مثال برای محاسبه‌ی نرخ آگهی‌های پیش از کرونا باید تعداد آگهی‌هایی که هم از نوع دورکاری هستند و هم تاریخ ثبت (<code>Publish Time</code>) آن‌ها پیش از تاریخ شروع کرونا بوده است را شمارش کرده و سپس حاصل را بر تعداد کل آگهی‌ها (از هر نوعی و در هر تاریخی) تقسیم کنید.
</font>
</p>

In [228]:
start_of_corona = datetime.strptime("2020-02-19", "%Y-%m-%d")

In [229]:
""" Make Publish Times One Of Date Type By to_datetime of Pandas """
df['Publish Time'] = df['Publish Time'].apply(to_datetime)

In [230]:
""" Calculate Remote Jobs Before COVID """
is_before_covid = (df['Offers Remote'] == True) & (df['Publish Time'] < start_of_corona)
remote_job_before_covid = df[is_before_covid]

In [231]:
""" Calculate Remote Jobs After COVID """
is_after_covid = (df['Offers Remote'] == True) & (df['Publish Time'] >= start_of_corona)
remote_job_after_covid = df[is_after_covid]

In [232]:
remote_growth = (len(remote_job_after_covid) - len(remote_job_before_covid)) / len(df)


<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام دوم تحلیل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این گام قصد داریم به گسسته‌سازی زمان بپردازیم و باید ۲۴ ساعت شبانه‌روز را طبق جدول پایین به ۴ دسته بشکنید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|اسم|بازه زمانی|
|:-------:|:-----:|
|dawn| ۰۰:۰۰ تا ۵:۵۹:۵۹|
|morning|۶:۰۰ تا ۱۱:۵۹:۵۹|
|noon|۱۲:۰۰ تا ۱۷:۵۹:۵۹|
|night|۱۸:۰۰ تا ۲۳:۵۹:۵۹|
    
</font>
</div>
</center>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
 حال محاسبه کنید در هر کدام از این ۴ بازه چه تعداد آگهی شغلی منتشر شده است؟ جواب شما باید درون متغیری به اسم <code>discrete_time</code> ذخیره شده باشد. این متغیر یک دیتاسری است که نمایه‌های (<code>index</code>) آن <code>dawn</code>, <code>morning</code>, <code>noon</code> و <code>night</code> هستند و مقدار متناظر با هر کدام از این نمایه‌ها، تعداد آگهی‌های شغلی منتشرشده است.
</font>
</p>

In [233]:
df_times = df['Publish Time'].dt.time

In [234]:
discrete_time = pd.Series(index=['dawn','morning','noon','night'],dtype='int64')

discrete_time['dawn'] = len(df[(df_times >= time(0,0,0)) & (df_times < time(6,0,0))])
discrete_time['morning'] = len(df[(df_times >= time(6,0,0)) & (df_times < time(12,0,0))])
discrete_time['noon'] = len(df[(df_times >= time(12,0,0)) & (df_times < time(18,0,0))])
discrete_time['night'] = len(df[(df_times >= time(18,0,0)) & (df_times <= time(23,59,59))])


<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
گام سوم تحلیل
</font>
</h3>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این سوال می‌خواهیم میزان پرداختی شرکت‌ها به افراد فعال در حوزه‌ی دیتا را بررسی کنیم. برای اینکه بتوانیم آگهی‌های شغلی این حوزه را فیلتر کنیم، لیستی از کلیدواژه‌ها در سلول زیر قرار داده شده است. فرض می‌کنیم همه آگهی‌های شغلی که در عنوان (<code>Title</code>) خود یکی از این کلمات به‌کار رفته است، به حوزه‌ی داده مربوط می‌شود. لازم نیست تیتر یک آگهی تماماً یکی از کلید‌های موجود در لیست کلیدواژه‌ها باشد؛ صرفا اگر یک کلید بخشی از تیتر یک آگهی شغلی باشد نیز ما آن آگهی شغلی را مرتبط به داده فرض می‌کنیم. مثلاً اگر کلیدی به اسم <i>Data Analyst</i> درون لیست کلیدواژه‌ها حضور داشته باشد، آنگاه یک آگهی با تیتر <i>"استخدام Data Analyst"</i> را مرتبط با حوزه‌ی داده در نظر می‌گیریم.
    <br>
    حال پس از مقدمه‌گویی‌های بسیار، سوال را این‌گونه تعریف می‌کنیم (!): میانگین میزان پرداختی شرکت‌ها به افراد حاضر در حوزه‌ی داده به تفکیک سطح‌شان چقدر است؟ جواب خود را درون یک دیتاسری به اسم <code>data_mean</code> بریزید. نمایه‌های این سری حروف <code>S</code>, <code>J</code>, <code>I</code> و <code>M</code> هستند و مقدار متناظر با هر کدام از این نمایه‌ها، میانگین حقوق پرداختی شرکت‌ها به آن سطح خاص است.    
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font color=#0099cc>
<b>راهنمایی بزرگ:</b>
</font>
<font face="vazir" size=3>
فراموش نکنید که پیش از انجام محاسبات، ستون <code>Title</code> را به حروف کوچک تبدیل کنید. دلیل چنین کاری این است که اگر مثلاً عنوان یک آگهی <i> Senior Data Engineer</i> باشد، کد شما باید آن را به حروف کوچک تبدیل کرده تا بتواند کلیدواژه‌ی <i>data engineer</i> را در آن پیدا کرده و آگهی را در حوزه‌ی داده تشخیص دهد.
</font>
</p>

In [235]:
keywords = ['machine learning', 'machinelearning', 'داده' , 'data scientist' ,  'datascientist' ,\
        'هوش مصنوعی' ,'پردازش ویدئو' , 'data engineer' , 'dataengineer' ,'بینایی ماشین' , 'یادگیری ماشین' ,\
        'deep learning', 'deeplearning', 'یادگیری عمیق', 'دیتاساینتیست' , 'artificial intelligence' \
        ,'artificialintelligence', 'هوش' , 'data analysis' , 'dataanalysis' , 'پردازش تصویر' , 'شبکه‌های عمیق', 'علم‌داده']

In [254]:
dev_df = df.copy()
dev_df['Title'] = dev_df['Title'].apply(lambda title : title.lower())
dev_df = dev_df[dev_df['Title'].str.contains('|'.join(keywords))]
dev_df

,Level,Offers Remote,Publish Time,Salary,Title,Close Time,State,Collaboration Type
19,S,False,2020-02-15 10:13:21,12.000000,senior data engineer,2020-04-16 03:00:06,C,FT
41,S,True,2020-02-15 10:14:50,8.790408,کارشناس هوش مصنوعی,2020-03-10 09:42:19,C,FT
66,S,False,2019-12-17 10:44:51,8.790408,کارشناس پایگاه داده,2020-02-16 03:00:05,C,FT
72,S,False,2020-04-13 12:57:18,4.000000,کارشناس بینایی ماشین و یادگیری ماشین,2020-06-13 03:00:06,C,FT
150,S,False,2020-02-15 10:13:29,8.790408,کارشناس پایگاه داده,2020-04-16 03:00:06,C,FT
...,...,...,...,...,...,...,...,...
7575,J,False,2021-05-11 13:56:21,5.620080,data scientist,2021-05-31 16:38:24,C,FT
7617,S,False,2021-06-19 15:49:25,8.000000,متخصص پایگاه داده آقا,NaN,PB,FT
7622,S,False,2021-06-19 16:30:55,8.000000,متخصص کلان داده bigdata آقا,NaN,PB,FT
7626,S,False,2021-06-19 16:32:32,8.000000,متخصص داده کاوی آقا,NaN,PB,FT
7667,S,False,2021-05-17 08:17:06,8.790408,کارشناس هوش مصنوعی,2021-06-27 04:04:50,C,FT

In [255]:
# data_mean = pd.Series(index=['I','J','S','M'],dtype='float64')
data_mean = dev_df.groupby('Level')['Salary'].mean()
# data_mean['I'] = dev_df[dev_df.Level == 'I']['Salary'].mean()
# data_mean['J'] = dev_df[dev_df.Level == 'J']['Salary'].mean()
# data_mean['S'] = dev_df[dev_df.Level == 'S']['Salary'].mean()
# data_mean['M'] = dev_df[dev_df.Level == 'M']['Salary'].mean()
data_mean

Level
I     2.256501
J     5.750707
M    12.000000
S     8.891994
Name: Salary, dtype: float64

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

In [256]:
import zipfile
import joblib

pd.DataFrame.to_csv(df, 'df.csv')
joblib.dump(remote_growth, "remote_growth")
joblib.dump(discrete_time, "discrete_time")
joblib.dump(data_mean, "data_mean")

def compress(file_names):
    print("File Paths:")
    print(file_names)
    # Select the compression mode ZIP_DEFLATED for compression
    # or zipfile.ZIP_STORED to just store the file
    compression = zipfile.ZIP_DEFLATED
    # create the zip file first parameter path/name, second mode
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            # Add file to the zip file
            # first parameter file to zip, second filename in zip
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["df.csv", "remote_growth", "discrete_time", "data_mean", "quera_magnet.ipynb"]
compress(file_names)

File Paths:
['df.csv', 'remote_growth', 'discrete_time', 'data_mean', 'quera_magnet.ipynb']